<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<!-- filler -->
		</div>
		<div class="col-md-8">
			<div class="form-wrap" style="padding-top: 3em">
			<h1>{{ _('Hi,') }} {{ g.user.nickname }}!</h1>
			{% include 'flash.html' %}
				<form action="" method="post" name="post">
					{{ form.hidden_tag() }}
					<div class="form-group">
						{% include 'post_post.html' %}	
					</div>
				</form>
			</div>
			<!-- posts is a Paginate object -->
			{% for post in posts.items %}
				{% include 'post.html' %}

				{% if not g.user.did_heart(post) %}
					{% if not post.with_heart() %}
						<a href="{{ url_for('heart_post', id=post.id) }}" class="text-success" style="padding-left: 5em">
							<img src="/static/images/gray-heart-resized-20.png">
						</a>
					{% else %}
						<a href="{{ url_for('heart_post', id=post.id) }}" class="text-success" style="padding-left: 5em">
							<img src="/static/images/gray-heart-resized-20.png">
						</a>{{ post.user_hearts.count() }}
					{% endif %}
				{% else %}
					{% if post.with_heart() %}
						<a href="{{ url_for('unheart_post', id=post.id) }}" class="text-success" style="padding-left: 5em">
							<img src="/static/images/green-heart-resized-20.png">
						</a>{{ post.user_hearts.count() }}
					{% endif %}
				{% endif %}
			{% endfor %}
			<div class="form-group" style="padding-top: 1em">
				{%if posts.has_prev %}
					<a class="btn btn-outline-success" href="{{ url_for('index', page=posts.prev_num) }}" role="button">
						&lt;&lt; {{ _('Newer posts') }}
					</a>
				{% else %}
					<a class="btn btn-outline-success disabled" href="" role="button">
						&lt;&lt; {{ _('Newer posts') }}
					</a>
				{% endif %}

				{% if posts.has_next %}
					<a class="btn btn-outline-success float-right" href="{{ url_for('index', page=posts.next_num) }}" role="button">
						{{ _('Older posts') }} &gt;&gt;
					</a>
				{% else %}
					<a class="btn btn-outline-success disabled float-right" href="" role="button">
						{{ _('Older posts') }} &gt;&gt;
					</a>
				{% endif %}
			</div>
		</div>
		<div class="col-md-2">
			<!-- filler -->
		</div>
	</div>
</div>
{% endblock %}