<table>
	<tr valign="top">
		<td>
			<div class="container-fluid">
				<a href="{{ url_for('user', nickname=post.author.nickname, _external=True) }}">
					<img class="rounded-circle" src="{{ post.author.avatar(50) }}">
				</a>
				<td>
					{% autoescape false %}
					<i>{{ _('%(nickname)s said %(when)s:', nickname=post.author.nickname, when=momentjs(post.timestamp).fromNow()) }}</i>
					<br>
					{% endautoescape %}
					<strong>{{ post.body }}</strong>
				</td>	
			</div>
		</td>
	</tr>
</table>