<!--extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<!-- filler -->
		</div>
		<div class="col-md-8">
			<div class="form-wrap" style="padding-top: 3em">
				<img class="rounded-circle float-left" src="{{ user.avatar(128) }}">
				<h1 style="padding-top: 2em">{{ _('User:') }} {{ user.nickname }}</h1>
			</div>
			<div class="form-group" style="padding-top: 0.5em">
				{% if user.about_me %}{{ user.about_me }}{% endif %}<br>
			</div>
			<div>
				{% if user.last_seen %}<i><em>{{ _('Last seen:') }} {{ momentjs(user.last_seen).calendar() }}</em></i>{% endif %}
				<strong class="float-right">{{ user.followers.count() }} {{ _('FOLLOWERS') }}</strong>
			</div>
			<div class="form-group">
				{% if user.id == g.user.id %}
					<a class="btn btn-outline-success" href="{{ url_for('edit') }}" role="button">{{ _('Edit your Profile') }}</a>
				{% elif not g.user.is_following(user) %}
					<a class="btn btn-outline-success" href="{{ url_for('follow', nickname=user.nickname) }}">{{ _('Follow') }}</a>
				{% else %}
					<a class="btn btn-outline-success" href="{{ url_for('unfollow', nickname=user.nickname) }}">{{ _('Unfollow') }}</a>
				{% endif %}
			</div>
			<div class="form-group">
				<hr>
				<!--posts is a Paginate object -->
				{% for post in posts.items %}
					{% include 'post.html' %}
					{% if post.author.id == g.user.id %}
					<a href="{{ url_for('edit_post', id=post.id) }}" class="text-success" style="padding-left: 5em">
						<i>{{ _('Edit Post') }}</i>
					</a>
					<a href="{{ url_for('delete', id=post.id) }}" class="text-success" style="padding-left: 4em">
						<i>{{ _('Delete') }}</i>
					</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="form-group" style="padding-top: 1em">
				{% if posts.has_prev %}
					<a class="btn btn-outline-success" href="{{ url_for('user', nickname=user.nickname, page = posts.prev_num) }}" role="button">
						&lt;&lt; {{ _('Newer posts') }}
					</a>
				{% else %}
					<a class="btn btn-outline-success disabled" href="" role="button">
						&lt;&lt; {{ _('Newer posts') }}
					</a>
				{% endif %}

				{% if posts.has_next %}
					<a class="btn btn-outline-success float-right" href="{{ url_for('user', nickname=user.nickname, page = posts.next_num) }}" role="button">
						{{ _('Older posts') }} &gt;&gt;
					</a>
				{% else %}
					<a class="btn btn-outline-success disabled float-right" href="" role="button">
						{{ _('Older posts') }} &gt;&gt;
					</a>
					{% endif %}
			</div>
		</div>
		<div class="col-md-2">
			<!-- filler -->
		</div>
	</div>
</div>
{% endblock %}